* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    /*    font-weight: lighter;*/
    font-size: 100px;
}

body {
    /*background: #c4c0b5;*/
    background: white;
}

.header {
    /*    margin: 20px;
    padding: 20px;*/
    /*    width: 400px;*/
    color: black;
}


.holder {
    display: grid;
    margin: 10px;
}


button {
    border: 10px solid black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    color: red;
    /*    background: #c4c0b5;*/
}

#p5canvas {
    /*    border: 1px solid black;*/
    display: block;
    top: 0;
    left: 0;
    /*    margin-top: 10%;*/
    width: 40%;
    position: absolute;
    pointer-events: none;
}

a {
    text-align: center;
    text-decoration: none;
}

a:visited {
    color: black;
}

.date {
    padding-top: 10px;
    position: relative;
    bottom: 0;
    font-size: 10px;
}

.picture {
    display: inline-block;
    width: 10%;
    height: 100px;
    margin: 10px;
}

.outputLetter {

    display: block;
    width: 100%;
    text-align: center;
    color: blue;
}

.randomLetter {
    display: none;
    padding-left: 10px;
}